{% extends 'base.html.twig' %}

{% block body %}

<article class="row">
    <div class="col-md-6">
        <h1>Registrarme</h1>
        <div class="separador"> </div>
        
        {{ form_errors(registrationForm) }}
        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email, {
            label: 'Correo electrónico',
            attr: { class: 'form-control' }
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Contraseña',
            attr: { class: 'form-control' }
        }) }}
        <div class="form-check my-3">
            {{ form_widget(registrationForm.agreeTerms, {
                attr: { class: 'form-check-input' }
            }) }}
            <label class="form-check-label">
                Acepto los <a href="{{ path('tyc') }}" target="_blank">Términos y Condiciones</a>
            </label>
            {{ form_errors(registrationForm.agreeTerms) }}
        </div>
        <button type="submit" class="btn btn-primary">Registrarse</button>
        {{ form_end(registrationForm) }}
    </div>
    <div class="col-md-6">
        <img src="{{ asset('img/index/logo.jpg') }}" alt="logo de Caminando sobre gliptodontes y tigres diente de sable">   
    </div>
</article>

{% endblock %}
