{% extends 'base.html.twig' %}

{% block body %}

<article class="row">
    <div class="col-md-6">
        <h1>Editar pagina </h1>
        <div class="separador"> </div>
        {{ form_start(form) }}
        {% if form_errors(form.ruta) %}
            <div class="alert alert-danger" role="alert">
                {{ form_errors(form.ruta) }}
            </div>
        {% endif %}
            <div class="mb-2"> 
                {{ form_label(form.ruta, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.ruta, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-2"> 
                {{ form_label(form.titulo, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.titulo, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-2"> 
                {{ form_label(form.subtitulo, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.subtitulo, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-2"> 
                {{ form_label(form.texto, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.texto, {'attr': {'class': 'form-control tinymce'}}) }}
            </div>
            <div class="mb-5">
                {{ form_label(form.contenidoTipo, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.contenidoTipo, {'attr': {'class': 'form-check-input', 'onchange': 'toggleContentFields()'}}) }}
            </div>
    </div>
    <div class="col-md-6">
        <div id="imageFields" style="display: none;">
            <div class="mb-2"> 
                {{ form_label(form.ruta_imagen_unica, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.ruta_imagen_unica, {'attr': {'class': 'form-control', 'onchange': 'previewImage(this)'}}) }}
                <img id="preview" src="#" alt="Vista previa de la imagen" style="max-width: 100%; max-height: 150px; margin-top: 10px; display: none;">
            </div>
        {% if form_errors(form.ruta_imagen_unica) %}
            <div class="alert alert-danger" role="alert">
                {{ form_errors(form.ruta_imagen_unica) }}
            </div>
        {% endif %}
            <div class="mb-2"> 
                {{ form_label(form.texto_alt_imagen_unica, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.texto_alt_imagen_unica, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div id="videoFields" style="display: none;">
            <div class="mb-2"> 
                {{ form_label(form.ruta_video, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.ruta_video, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Guardar cambios</button>
        {{ form_end(form) }}
    </div>
</article>

{% endblock %}
