{% extends 'base.html.twig' %}

{% block body %}

<article class="row">
    {% if pagina.contenidoTipo == 'galeria' %}
        <!-- Galeria de imagenes en pantalla completa -->
        {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('pagina_edit', {'ruta':pagina.ruta }) }}" class="btn btn-warning d-block m-2">
                    Editar esta página
                </a>
            {% endif %}
        <div class="gallery">
            {% for imagen in pagina.carpeta.imagenes %}
                <div class="gallery-item">
                    <img src="{{ asset('uploads/images_directory/' ~ imagen.path) }}" alt="{{ imagen.altText }}">
                    <div class="gallery-text">{{ imagen.altText }}</div>
                </div>
            {% endfor %}
        </div>


    {% else %}
        <!-- Diseño habitual para otros tipos de contenido -->
        <div class="col-md-6">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('pagina_edit', {'ruta':pagina.ruta }) }}" class="btn btn-warning d-block mt-2">
                    Editar esta página
                </a>
            {% endif %}
            <h1>{{ pagina.titulo }} </h1>

            <div class="separador"> </div>
            <h2>{{ pagina.subtitulo }}</h2>
            {{ pagina.texto | raw }} 
        </div>
        <div class="col-md-6">
            {% if pagina.contenidoTipo == 'imagen' and pagina.rutaImagenUnica is not empty %}
                <div>
                    <img class="img-unica" src="{{ pagina.rutaImagenUnica }}" alt="{{ pagina.textoAltImagenUnica }}">
                </div>
            {% elseif pagina.contenidoTipo == 'textoLink' and pagina.textoConLinks is not empty %}
                <div>
                    <h2>Hola</h2>
                    {{ pagina.textoConLinks | raw }}
                </div>
            {% elseif pagina.contenidoTipo == 'video' and pagina.RutaVideo is not empty %}
                <div>
                    <div class="embed-responsive embed-responsive-16by9">
                        {{ pagina.RutaVideo | raw }}
                    </div>
                </div>
            {% elseif pagina.contenidoTipo == 'carrusel' and pagina.carpeta is not empty %}
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {% for imagen in pagina.carpeta.imagenes %}
                            <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" class="{% if loop.first %}active{% endif %}"></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {% for imagen in pagina.carpeta.imagenes %}
                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                <img src="{{ asset('uploads/images_directory/' ~ imagen.path) }}" class="d-block w-100" alt="{{ imagen.altText }}">
                            </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endif %}
</article>

{% endblock %}