{% extends 'base.html.twig' %}

{% block body %}

<article class="row">
    <div class="col-md-6">
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('pagina_edit', {'ruta':pagina.ruta }) }}" class="btn btn-primary d-block mt-2">
                Editar esta página
            </a>
        {% endif %}
        {% for flash_message in app.session.flashBag.get('success') %}
            <div    class="alert alert-success">
                {{ flash_message }}
            </div>
        {% endfor %}
        <h1>{{ pagina.titulo }} </h1>

        <div class="separador"> </div>
        <h2>{{ pagina.subtitulo }}</h2>
        {{ pagina.texto | raw }} 
    </div>
    <div class="col-md-6">
        {% if pagina.contenidoTipo == 'imagen' and pagina.rutaImagenUnica is not empty %}
            <div>
                <img class="img-unica" src="{{ pagina.rutaImagenUnica }}" alt="{{ pagina.textoAltImagenUnica }}">
            </div>
        {% elseif pagina.contenidoTipo == 'video' and pagina.RutaVideo is not empty %}
            <div>
                <div class="embed-responsive embed-responsive-16by9">
                    {{ pagina.RutaVideo | raw }}
                </div>
            </div>
        {% elseif pagina.contenidoTipo == 'carrusel' and pagina.carpeta is not empty %}
            <h3>Carrusel</h3>
            <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
            {% for imagen in pagina.carpeta.imagenes %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="{{ asset(imagen.path) }}" class="d-block w-100" alt="{{ imagen.altText }}">
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
  </button>
</div>
        {% endif %}
    </div>
</article>
{% endblock %}
