{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mt-3">Debates de la categoría <span class="font-italic">{{ categoria.name }}</span></h1>
    <p>{{ categoria.description }}</p>
    <div class="separador"></div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Debate</th>
                <th>Participantes</th>
                <th>Respuestas</th>
                <th>Última Publicación</th>
            </tr>
        </thead>
        <tbody>
            {% for post in importantPosts %}
                <tr class="table-warning">
                    <td>
                    <i class="fa-solid fa-thumbtack"></i> 
                    <span class="bi bi-pin-angle-fill" title="Post importante"></span>
                        <a href="{{ path('post_show', { id: post.id }) }}">{{ post.title }}</a>
                        <br>
                        Iniciado por: <strong>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('user_profile', { id: post.author.id }) }}">{{ post.author.username ? post.author.username : post.author.email }}</a>
                        {% else %}
                            {{ post.author.username ? post.author.username : post.author.email }}
                        {% endif %}
                        </strong>
                    </td>
                    <td>{{ post.participantsCount }}</td>
                    <td>{{ post.comentariosCount }}</td>
                    <td>
                        {% if post.lastcomentario is not null %}
                            <a href="{{ path('comentario_show', { id: post.lastcomentario.id }) }}">
                                {{ post.lastcomentario.createdAt|date('d-m-Y') }}
                            </a>
                        {% else %}
                            No hay comentarios
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            {% for post in normalPosts %}
                <tr>
                    <td>
                        <a href="{{ path('post_show', { id: post.id }) }}">{{ post.title }}</a>
                        <br>
                        Iniciado por: <strong>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('user_profile', { id: post.author.id }) }}">{{ post.author.username ? post.author.username : post.author.email }}</a>
                        {% else %}
                            {{ post.author.username ? post.author.username : post.author.email }}
                        {% endif %}
                        </strong>
                    </td>
                    <td>{{ post.participantsCount }}</td>
                    <td>{{ post.comentariosCount }}</td>
                    <td>
                        {% if post.lastcomentario is not null %}
                            <a href="{{ path('comentario_show', { id: post.lastcomentario.id }) }}">
                                {{ post.lastcomentario.createdAt|date('d-m-Y') }}
                            </a>
                        {% else %}
                            No hay comentarios
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('post_index') }}" class="btn btn-secondary mb-3">Volver al foro</a>
{% endblock %}
