<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ sitio.metaDescription }}">
    <title>{{ sitio.metaTitle ? sitio.metaTitle : 'Título por defecto' }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="{{ sitio.ogTitle }}" />
    <meta property="og:description" content="{{ sitio.ogDescription }}" />
    <meta property="og:image" content="{{ sitio.ogImage }}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:type" content="website" />

{% block head %}

    {% endblock %}


    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    <link rel="shortcut icon" href="{{ asset('img/index/logo.ico')}}" type="image/x-icon" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link href= "{{ asset('font-awesome/css/fontawesome.css') }}" rel="stylesheet">
    <link href="{{ asset('font-awesome/css/brands.css') }}" rel="stylesheet">
    <link href="{{ asset('font-awesome/css/solid.css') }}" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<script src="https://cdn.tiny.cloud/1/6xiusy06jfjrkc2re5d4akmmz7tydwl37w14y19p4w0vqgpn/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://cdn.tiny.cloud/1/6xiusy06jfjrkc2re5d4akmmz7tydwl37w14y19p4w0vqgpn/tinymce/6/langs/es.js" referrerpolicy="origin"></script>

<script>
tinymce.init({
  selector: 'textarea.tinymce',
  plugins: 'link image imagetools',
  imagetools_toolbar: "rotateleft rotateright | flipv fliph | editimage imageoptions",
  toolbar1: 'addlink | undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link | image',
  language: 'es', 

  file_picker_callback: function(callback, value, meta) {
    if (meta.filetype === 'image') {
      let input = document.createElement('input');
      input.setAttribute('type', 'file');
      input.setAttribute('accept', 'image/*');
      input.addEventListener('change', function() {
        let file = this.files[0];
        if (file) {
          let reader = new FileReader();
          reader.onload = function() {
            callback(reader.result, { title: file.name });
          };
          reader.readAsDataURL(file);
        }
      });
      input.click();
    }
  }
});

function previewImage(input, previewId) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#' + previewId).attr('src', e.target.result).show();
        }

        reader.readAsDataURL(input.files[0]);
    }
}

document.addEventListener('DOMContentLoaded', function () {
    const toggleButton = document.querySelector('.toggle-menu');
    const adminMenu = document.querySelector('.admin-menu');

    toggleButton.addEventListener('click', () => {
        adminMenu.classList.toggle('collapsed');
        adminMenu.classList.toggle('expanded');
    });
});


</script>

</head>

<body>
<header>
    <div class="logo">
        <a href="{{ path('inicio') }}">
                {% if sitio.getHeader()  %}
                    <img src="{{ sitio.header }}" alt="logo de {{sitio.nombreSitio}}">
                {% else %}
                    <img src="{{ asset('img/icons8-imagen-48.png') }}" alt="Cambiame">
                    <p>Header del sitio, debe cmabiarse</p>
                {% endif %}


            
        </a>
    </div>
    <nav class="navbar navbar-expand-md container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span><i class="fa-solid fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link inicio" href="{{ path('inicio') }}" title="Inicio">Inicio</a>
                </li>
                {% for menu in menues %}
                    {% if menu.parent is null %}
                        <li class="nav-item {% if menu.children|length > 0 %}dropdown{% endif %}">
                            <a class="nav-link {% if menu.children|length > 0 %}dropdown-toggle{% endif %}" href="{{ path('pagina_show', {'ruta': menu.ruta}) }}" {% if menu.children|length > 0 %}id="navbarDropdown{{ menu.id }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"{% endif %}>
                                {{ menu.nombre }}
                            </a>
                            {% if menu.children|length > 0 %}
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown{{ menu.id }}">
                                    {% for child in menu.children|sort((a, b) => a.posicion <=> b.posicion) %}
                                        {% if child.visible %}
                                            <a class="dropdown-item" href="{{ path('pagina_show', {'ruta': child.ruta}) }}">{{ child.nombre }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}

                <!-- Estos items van a aparecer siempre, no pueden ni deben modificarse -->
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('post_index') }}" title="Foro">Foro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contacto') }}" title="Contacto">Contacto</a>
                </li>

                {% if app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ app.user.username ? app.user.username : app.user.userIdentifier }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="dropdown-item" href="{{ path('perfil') }}" title="Perfil"><i class="fa-solid fa-user-gear"></i> Perfil</a>
                             {% else %}
                                <a class="dropdown-item" href="{{ path('perfil') }}" title="Perfil"><i class="fa-solid fa-user"></i> Perfil</a>
                            {% endif %}
                            <a class="dropdown-item" href="#" title="Notificaciones"><i class="fa-solid fa-bell"></i> Notificaciones</a>
                            <a class="dropdown-item" href="#" title="Mensajes"><i class="fa-solid fa-envelope"></i> Mensajes</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}" title="Salir"><i class="fa-solid fa-right-from-bracket"></i> Salir</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('login') }}" title="Ingresar"> Ingresar</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>


<main class="main">
    <section class="container-fluid d-flex">
        {% if is_granted('ROLE_ADMIN') %}
        <div class="admin-menu expanded">
            <button class="toggle-menu" title="Alternar menú">
                <i class="fa-solid fa-screwdriver-wrench"></i>
            </button>
            <h3 class="admin-menu-title">Configuración</h3>
            <div class="list-group">
                <a class="list-group-item list-group-item-action {% if app.request.get('_route') == 'ayuda' %}active{% endif %}" href="{{ path('ayuda') }}" title="Ayuda">
                    <i class="fa-solid fa-circle-question"></i> <span>Manual de uso</span>
                </a>
                <a class="list-group-item list-group-item-action {% if app.request.get('_route') == 'sitio_edit' %}active{% endif %}" href="{{ path('sitio_edit') }}" title="Configuración general">
                    <i class="fa-solid fa-gear"></i> <span>Configuración general</span>
                </a>
                <a class="list-group-item list-group-item-action {% if app.request.get('_route') == 'pagina_index' %}active{% endif %}" href="{{ path('pagina_index') }}" title="Páginas">
                    <i class="fa-solid fa-file-lines"></i> <span>Páginas</span>
                </a>
                <a class="list-group-item list-group-item-action {% if app.request.get('_route') == 'menu_index' %}active{% endif %}" href="{{ path('menu_index') }}" title="Menú">
                    <i class="fa-solid fa-bars"></i> <span>Menú de navegación</span>
                </a>
                <a class="list-group-item list-group-item-action {% if app.request.get('_route') == 'carpeta_index' %}active{% endif %}" href="{{ path('carpeta_index') }}" title="Carpetas">
                    <i class="fa-solid fa-folder"></i> <span>Carpetas</span>
                </a>
                <a class="list-group-item list-group-item-action {% if app.request.get('_route') == 'usuario_index' %}active{% endif %}" href="{{ path('usuario_index') }}" title="Usuarios">
                    <i class="fa-solid fa-user-group"></i> <span>Usuarios</span>
                </a>
                <a class="list-group-item list-group-item-action {% if app.request.get('_route') == 'redes_edit' %}active{% endif %}" href="{{ path('redes_edit') }}" title="Redes Sociales">
                    <i class="fa-solid fa-icons"></i> <span>Foro y Redes Sociales</span>
                </a>
                <a class="list-group-item list-group-item-action" href="#" title="Gestión de Temas y Diseño">
                    <i class="fa-solid fa-pen-ruler"></i> <span>Temas y Diseño</span>
                </a>
                <a class="list-group-item list-group-item-action {% if app.request.get('_route') == 'index_optimizacion' %}active{% endif %}" href="{{ path('index_optimizacion') }}" title="Optimización">
                    <i class="fa-solid fa-list-check"></i> <span>Optimización</span>
                </a>
                <a class="list-group-item list-group-item-action" href="#" title="Estadísticas">
                    <i class="fa-solid fa-chart-line"></i> <span>Análisis y Estadísticas</span>
                </a>
            </div>
        </div>
        {% endif %}

        <div class="body-content flex-grow-1">
            {% block body %}
            {% endblock %}
        </div>
    </section>
</main>


<script>
function toggleContentFields() {
    const contentTypeSelect = document.querySelector('select[name="pagina[contenidoTipo]"]');
    if (!contentTypeSelect) {
        return;
    }
    const contentType = contentTypeSelect.value;

    const imageFields = document.getElementById('imageFields');
    const videoFields = document.getElementById('videoFields');
    const carrusellFields = document.getElementById('carrusellFields');
    const textFields = document.getElementById('textFields');
    const galeriaFields = document.getElementById('galeriaFields');
    const cuadriculaLinkFields = document.getElementById('cuadriculaLinkFields');
    const cuadriculaDescargaFields = document.getElementById('cuadriculaDescargaFields');
    const conditionalFields = document.getElementById('conditionalFields');
    const carpetaLabel = document.querySelector('#carpetaLabel');
    const carpetaField = document.querySelector('select[name="pagina[carpeta]"]');

    if (conditionalFields && carpetaLabel && carpetaField) {
        if (contentType === 'carrusel' || contentType === 'galeria') {
            conditionalFields.style.display = 'block';
            carpetaLabel.style.display = 'block';
            carpetaField.style.display = 'block';
        } else {
            conditionalFields.style.display = 'none';
            carpetaLabel.style.display = 'none';
            carpetaField.style.display = 'none';
        }
    }
    if (imageFields) {
        imageFields.style.display = (contentType === 'imagen') ? 'block' : 'none';
    }
    if (videoFields) {
        videoFields.style.display = (contentType === 'video') ? 'block' : 'none';
    }
    if (textFields) {
        textFields.style.display = (contentType === 'textoLink') ? 'block' : 'none';
    }
    if (galeriaFields) {
        galeriaFields.style.display = (contentType === 'galeria') ? 'block' : 'none';
    }
    if (carrusellFields) {
        carrusellFields.style.display = (contentType === 'carrusel') ? 'block' : 'none';
    }
    if (cuadriculaLinkFields) {
        cuadriculaLinkFields.style.display = (contentType === 'cuadriculaLink') ? 'block' : 'none';
    }
    if (cuadriculaDescargaFields) {
        cuadriculaDescargaFields.style.display = (contentType === 'cuadriculaDescarga') ? 'block' : 'none';
    }
}

document.addEventListener('DOMContentLoaded', function() {
    toggleContentFields();
    const contentTypeSelect = document.querySelector('select[name="pagina[contenidoTipo]"]');
    if (contentTypeSelect) {
        contentTypeSelect.addEventListener('change', toggleContentFields);
    }
});

</script>
    <footer class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <a href="{{ path('inicio') }}">
                        {% if sitio.getHeader()  %}
                            <img src="{{ sitio.logoSitio }}" alt="logo de {{sitio.nombreSitio}}">
                            <p class="text-center">{{ sitio.nombreSitio }}</p>
                        {% else %}
                            <img src="{{ asset('img/icons8-imagen-48.png') }}" alt="Cambiame">
                            <p class="text-center">Header del sitio, debe cmabiarse</p>
                        {% endif %}
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <nav>
                    <ul>
                        {% if sitio.instagram is not null %}
                            <li><a href="{{ sitio.instagram }}" title="instagram"><i class="fa-brands fa-instagram"></i></a></li>
                        {% endif %}
                        {% if sitio.facebook is not null %}
                            <li><a href="{{ sitio.facebook }}" title="facebook"><i class="fa-brands fa-square-facebook"></i></a></li>
                        {% endif %}
                        {% if sitio.twitter is not null %}
                            <li><a href="{{ sitio.twitter }}" title="X"><i class="fa-brands fa-x-twitter"></i></a></li>
                        {% endif %}
                        {% if sitio.youtube is not null %}
                            <li><a href="{{ sitio.youtube }}" title="Youtube"><i class="fa-brands fa-youtube"></i></a></li>
                        {% endif %}
                        {% if sitio.tiktok is not null %}
                            <li><a href="{{ sitio.tiktok }}" title="Tiktok"><i class="fa-brands fa-tiktok"></i></a></li>
                        {% endif %}

                    </ul>
                </nav>
            </div>
        </div>
    </footer>
</body>
</html>
