{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-4">
    {% for flash_message in app.session.flashBag.get('success') %}
    <div class="alert alert-success">
        {{ flash_message }}
    </div>
    {% endfor %}
 <h1>Editar perfil</h1>
 <div class="separador"> </div>
    <div class="row justify-content-center"> 
        <div class="col-md-4 text-center">
        {% if app.user.getFoto() %}
        <img src="{{ asset(app.user.getFoto()) }}" alt="Foto de perfil" class="img-fluid rounded-circle" width="150" height="150">
        {% else %}
            <img src="{{ asset('img/default-profile.png') }}" alt="Foto de perfil predeterminada" class="img-fluid rounded-circle" width="150" height="150">
        {% endif %}
            <p><a href="{{ path('perfil') }}" class="btn btn-secondary mt-3">Volver al perfil</a></p>
        </div>

        <div class="col-md-6"> 
            {{ form_start(form) }}
                <div class="mb-2"> 
                {{ form_label(form.foto, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.foto, {'attr': {'class': 'form-control', 'onchange': 'previewImage(this, "preview1")'}}) }}
                <img id="preview1" src="#" alt="Vista previa de la foto de perfil" style="max-width: 100%; max-height: 150px; margin-top: 10px; display: none;">
            </div>
            <div class="mb-2"> 
                {{ form_label(form.username, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-2"> 
                {{ form_label(form.nombre, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-2"> 
                {{ form_label(form.apellido, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.apellido, {'attr': {'class': 'form-control'}}) }}
            </div>
            <div class="mb-3"> 
                {{ form_label(form.fechaNacimiento, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.fechaNacimiento, {'attr': {'class': 'form-control', 'placeholder': 'DD/MM/YYYY'}}) }}
            </div>
            <div class="form-check form-check-inline"> 
                {{ form_widget(form.notificaciones, {'attr': {'class': 'form-check-input'}}) }}
                {{ form_label(form.notificaciones, null, {'label_attr': {'class': 'form-check-label'}}) }}
            </div>
            <div class="mb-2"> 
                <button type="submit" class="btn btn-primary mt-3">Guardar cambios</button>
                <button type="button" class="btn btn-secondary mt-3" onclick="window.history.back()">Cancelar</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

{% endblock %}
