{% extends 'base.html.twig' %}

{% block body %}

<article class="row">
    <div class="col-md-12">
        <h2 class="mt-3 ">Lista de usuarios</h2>
        <div class="separador"> </div>
        {% set roleNames = {
            'ROLE_ADMIN': 'Administrador',
            'ROLE_USER': 'Usuario'
        } %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Nombre de usuario</th>
                    <th>Nombre</th>
                    <th>Foto</th>
                    <th>Recibe notificaciones</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for user in usuarios %}
                    <tr>
                        <td>{{ user.email }}</td>
                        <td>
                            {% for role in user.roles %}
                                {{ roleNames[role] is defined ? roleNames[role] : role }}
                                {% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.nombre }}</td>
                        <td>
                            {% if user.foto %}
                                <img src="{{ asset(user.foto) }}" alt="Foto de {{ user.username }}" style="max-width: 50px; max-height: 50px;"/>
                            {% else %}
                                No disponible
                            {% endif %}
                        </td>
                        <td>{{ user.notificaciones ? 'Sí' : 'No' }}</td>
                        <td>
                            <a href="{{ path('usuario_edit', {'id': user.id}) }}" class="btn btn-warning btn-sm mb-3">Editar</a>
                            <a href="{{ path('usuario_delete', {'id': user.id}) }}" class="btn btn-danger btn-sm mb-3" onclick="return confirm('¿Estás seguro de que deseas eliminar este usuario?');">Borrar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</article>

{% endblock %}